<?xml version="1.0"?>
<phpunit cacheDirectory=".php/phpunit"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <coverage>
    <report>
      <html outputDirectory=".php/coverage"/>
      <text outputFile="php://stdout" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory suffix="_Test.php">php</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">php</directory>
    </include>
    <exclude>
      <directory suffix="_Test.php">php</directory>
    </exclude>
  </source>
</phpunit>
